---
---

@import "{{ site.theme }}";

$bg-color: #42008d;
$font-color: #ffffff;
$link-color: #ffc500;
$footer-color: #212223;

$tablet: 720px;

html,
body {
  background-color: $bg-color;
  width: 100%;
}

.markdown-body {
  color: $font-color;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.8em;
  font-family: "Poppins", "Helvetica", sans-serif;
  margin: 0;
  width: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 18px;
  }

  a {
    color: $link-color;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    border: none;
    position: relative;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5,
  h6 {
    font-size: 1em;
  }

  img {
    background-color: transparent;
  }

  details {
    margin-bottom: 1em;
    summary {
      margin-bottom: 0.5em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .section {
    padding: 3em 1em;
    margin: 0;
  }

  .section#hero {
    // hidden because it appears in the hero image
    h1 {
      display: none;
    }

    img {
      max-width: 60vmin;
    }

    // open standard banner
    h5 {
      text-align: center;
      color: $bg-color;
      background-color: white;
      padding: 0.25em;
      min-height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 20px rgba(0, 0, 0, 0.25);
      margin: 1em 100px 3em 100px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -25%;
        left: -104px;
        width: 100px;
        height: 110px;
        background-image: url("../images/banner-tail-left.png");
        background-size: cover;
        background-position: left center;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -25%;
        right: -104px;
        width: 100px;
        height: 110px;
        background-image: url("../images/banner-tail-right.png");
        background-size: cover;
        background-position: right center;
      }

      @media screen and (max-width: $tablet) {
        margin: 1em 24px 3em 24px;
        &:after {
          width: 24px;
          right: -28px;
        }
        &:before {
          width: 24px;
          left: -28px;
        }
      }
    }

    ol,
    ul {
      margin: 2em 0;
      li {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
        em {
          color: $link-color;
          font-style: normal;
        }
        &::marker {
          color: $link-color;
        }
      }
    }
  }

  .section#games {
    ol {
      em {
        opacity: 0.5; // Used for "(optional)" callouts
        font-style: normal;
      }
    }
  }

  .grid {
    margin: 2em 0;
    display: grid;
    gap: 24px;
    grid-template-columns: auto auto;

    @media screen and (max-width: $tablet) {
      grid-template-columns: auto;
    }

    .game {
      display: inline-block;
      color: rgba(255, 255, 255, 0.5); // author
      img {
        border: solid 8px white;
        border-radius: 12px;
        box-sizing: border-box;
      }
      a,
      a:hover,
      a:active,
      a:visited {
        display: inline-block;
        color: $font-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;
        img {
          transition: all 0.1s ease-out;
        }
      }
      // raised card with shadow on hover
      a:hover {
        img {
          margin-top: -0.5em;
          margin-bottom: 0.5em;
          box-shadow: 0 0.5em rgba(0, 0, 0, 0.25);
        }
      }
    }

    .stat {
      font-weight: bold;
      .number {
        color: $link-color;
        font-size: 6em;
        line-height: 1em;
        font-family: "Poppins", "Helvetica", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
    }
  }

  .section#faq {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    background-color: $footer-color;
  }

  .markdown-body {
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    line-height: 1.4;
    color: white;
  }

  .footer {
    opacity: 0.5;
    a,
    a:hover,
    a:active,
    a:visited {
      color: $font-color;
    }
  }
}
